body {
  text-align: center;
  display: flex;
  justify-content: center;
}
header {
  background-color: #e4e8f0;
}

.card {
  background-color: rgb(154, 154, 220);
  width: 50vw;
  height: 30vh;
  margin-top: 5vh;
}
.card img {
  height: 12rem;
}
